In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

*Here We are importing the data*

We have decided to import the train and the test wine data

In [2]:
wine_train=pd.read_csv('Datasets/train.csv')
wine_test=pd.read_csv('Datasets/test.csv')

**Head of test data and train data**

In [3]:
wine_test.head(1)

,index,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,id
0,41855,US,"Sweet new oak stands out, giving this Cabernet...",3D,95.036469,NaN,California,St. Helena,Napa,NaN,NaN,Salvestrin 2007 3D Cabernet Sauvignon (St. Hel...,CABERNET SAUVIGNON,Salvestrin,0

In [4]:
wine_train.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,id
0,Portugal,This is a fine rich balanced wine. It has ripe...,Vila Santa Reserva,88.870874,20.0,Alentejano,NaN,NaN,NaN,NaN,NaN,PORTUGUESE RED,J. Portugal Ramos,32027

**Data train info**

In [5]:
wine_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175000 entries, 0 to 174999
Data columns (total 14 columns):
country                  174953 non-null object
description              175000 non-null object
designation              122734 non-null object
points                   175000 non-null float64
price                    175000 non-null float64
province                 174953 non-null object
region_1                 146466 non-null object
region_2                 75394 non-null object
taster_name              65509 non-null object
taster_twitter_handle    62190 non-null object
title                    82189 non-null object
variety                  174999 non-null object
winery                   175000 non-null object
id                       175000 non-null int64
dtypes: float64(2), int64(1), object(11)
memory usage: 18.7+ MB

Data Description

In [6]:
wine_train.describe()

              points          price             id
count  175000.000000  175000.000000  175000.000000
mean       88.083987      34.304400   70684.047240
std         3.157001      38.398146   41341.638798
min        79.636128       4.000000       1.000000
25%        85.971283      16.000000   35020.000000
50%        87.981631      25.000000   70256.500000
75%        90.085631      40.000000  105550.250000
max       100.220603    2500.000000  150929.000000

**Install Package to use for**

In [7]:
!pip install catboost

Requirement already satisfied: catboost in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (0.17.5)
Requirement already satisfied: numpy>=1.16.0 in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from catboost) (1.17.3)
Requirement already satisfied: graphviz in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from catboost) (0.13)
Requirement already satisfied: scipy in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from catboost) (1.3.1)
Requirement already satisfied: six in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from catboost) (1.12.0)
Requirement already satisfied: plotly in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from catboost) (4.2.1)
Requirement already satisfied: matplotlib in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from catboost) (3.0.3)
Requirement already satisfied: pandas>=0.24.0 in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from catboost) (0.25.2)
Requirement already satisfied: retrying>=1.3.3 in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from matplotlib->catboost) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from matplotlib->catboost) (2.7.3)
Requirement already satisfied: cycler>=0.10 in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: pytz>=2017.2 in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from pandas>=0.24.0->catboost) (2019.3)
Requirement already satisfied: setuptools in /home/aims/anaconda3/envs/aims/lib/python3.5/site-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (40.2.0)
WARNING: You are using pip version 19.2.3, however version 19.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

The Model that we are going to implement is the cat Boost regression Model

In [7]:
from catboost import CatBoostRegressor

**Code to identify the missing values in our train dataset**

In [8]:
wine_train.isnull().sum()

country                      47
description                   0
designation               52266
points                        0
price                         0
province                     47
region_1                  28534
region_2                  99606
taster_name              109491
taster_twitter_handle    112810
title                     92811
variety                       1
winery                        0
id                            0
dtype: int64

In [9]:
wine_train.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,id
0,Portugal,This is a fine rich balanced wine. It has ripe...,Vila Santa Reserva,88.870874,20.0,Alentejano,NaN,NaN,NaN,NaN,NaN,PORTUGUESE RED,J. Portugal Ramos,32027

In [10]:
wine_train['variety']=pd.Categorical(wine_train['variety'])
wine_train["variety"] = wine_train.variety.cat.codes


wine_train['province']=pd.Categorical(wine_train['province'])
wine_train["province"] = wine_train.province.cat.codes

wine_train['designation']=pd.Categorical(wine_train['designation'])
wine_train["designation"] = wine_train.designation.cat.codes

wine_train['country']=pd.Categorical(wine_train['country'])
wine_train["country"] = wine_train.country.cat.codes



wine_train['winery']=pd.Categorical(wine_train['winery'])
wine_train["winery"] = wine_train.winery.cat.codes

wine_train['description']=pd.Categorical(wine_train['description'])
wine_train["description"] = wine_train.description.cat.codes


#wine_train['region_1']=pd.Categorical(wine_train['region_1'])

Let us declare our model variable and the corresponding features

In [11]:
y=wine_train['price']
X=wine_train[['description','designation','points','province'
              ,'country','variety','winery']]
    
#X=wine_train[['points','winery','designation']]

Let's Train the model

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

Building the model by using CatBoost package

In [13]:
model_cat = CatBoostRegressor()

In [14]:
model_cat

In [25]:
# model_cat.fit(X_train, y_train, silent=True)

In [30]:
# Total Training 
model_cat.fit(X, y, silent=True)

Model evaluation

In [31]:
preds = model_cat.predict(X_test)

preds
import numpy as np
np.shape(wine_train)
len(preds)

35000

In [28]:

from sklearn import metrics
print (np.sqrt(metrics.mean_absolute_error(preds,y_test)))

3.6025842213692405

# Testing

In [19]:
wine_test['variety']=pd.Categorical(wine_test['variety'])
wine_test["variety"] = wine_test.variety.cat.codes


wine_test['province']=pd.Categorical(wine_test['province'])
wine_test["province"] = wine_test.province.cat.codes

wine_test['designation']=pd.Categorical(wine_test['designation'])
wine_test["designation"] = wine_test.designation.cat.codes

wine_test['country']=pd.Categorical(wine_test['country'])
wine_test["country"] = wine_test.country.cat.codes



wine_test['winery']=pd.Categorical(wine_test['winery'])
wine_test["winery"] = wine_test.winery.cat.codes

wine_test['description']=pd.Categorical(wine_test['description'])
wine_test["description"] = wine_test.description.cat.codes


#wine_train['region_1']=pd.Categorical(wine_train['region_1'])

In [20]:
wine_test_selected = wine_test[['description','designation','points','province'
              ,'country','variety','winery']]
    
#X=wine_train[['points','winery','designation']]

In [21]:
preds = model_cat.predict(wine_test_selected)

preds

array([137.84899507,  41.03124537,  45.4742882 , ...,  37.87144517,
        21.35048687,  54.29004061])

In [55]:
wine_test.id

0            0
1            1
2            2
3            3
4            4
         ...
83205    83205
83206    83206
83207    83207
83208    83208
83209    83209
Name: id, Length: 83210, dtype: int64

In [25]:
type(preds)#.size

numpy.ndarray

In [52]:
preds.reshape(-1,1).shape

(83210, 1)

In [65]:
output = wine_test[['id']]
output['price']=preds.reshape(-1,1)

/home/aims/anaconda3/envs/aims/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [66]:
output.head()

   id       price
0   0  137.848995
1   1   41.031245
2   2   45.474288
3   3   44.536009
4   4   22.587035

In [68]:
output.to_csv('final_output.csv',index=False)

In [35]:
!ls

 catboost_info		      Datasets	    'Group 1.ipynb'   README.md
 Cat_boost_Regression.ipynb   final_output   LICENSE